@*@model IEnumerable<ESCOM_FLEET_SYSTEM.Models.Location>*@
@model PaginatedList<ESCOM_FLEET_SYSTEM.Models.Location>

@{
    ViewData["Title"] = "Index";
}

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<p>
    <a asp-action="Create" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New Location</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            COF Number: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"] " placeholder="Search" />
            <input type="submit" value="Search" class="bg-light btn btn-sm btn-outline-info btn-sm my-0" /> |
            @*<a asp-action="Index">Back to Full List</a>*@
        </p>
    </div>
</form>
<table class="table table-sm table-striped">
    <thead class="thead-sm text thead-dark">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.LocationName)*@
                LocationName
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Comment)*@
                Comment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a class="btn btn-outline-success btn-rounded btn-sm my-0" asp-action="Edit" asp-route-id="@item.LocationId"><i class="fas fa-edit"></i>UPDATE</a> |
                    <a class="btn btn-outline-info btn-rounded btn-sm my-0" asp-action="Details" asp-route-id="@item.LocationId"><i class="fas fa-info-circle"></i>DETAILS</a> |
                    <a class="btn btn-outline-danger btn-rounded btn-sm my-0" asp-action="Delete" asp-route-id="@item.LocationId"><i class="fas fa-trash-alt"></i>DELETE</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class=" bg-light btn btn-sm btn-outline-success @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="bg-light btn btn-sm btn-outline-success @nextDisabled">
    Next
</a>
