@model ESCOM_FLEET_SYSTEM.Models.FleetCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FleetCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COFNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COFNumber.COFNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceNumber.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Station)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Station.StationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationName.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictName.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionName.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FleetCategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
