@*@model IEnumerable<ESCOM_FLEET_SYSTEM.Models.Station>*@
@model PaginatedList<ESCOM_FLEET_SYSTEM.Models.Station>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="bg-transparent text-capitalize text-center text-success btn-outline-dark btn-sm my-0">Create New Station</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Station Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class=" bg-transparent btn btn-outline-success" /> |
            @*<a asp-action="Index" class="bg-warning btn btn-outline-primary sm">Back to Full List</a>*@
        </p>
    </div>
</form>
@*<table class="table">
    <thead>*@
<table class="table table-sm table-striped">
    <thead class="thead-sm text thead-dark">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.StationName)*@
                StationName
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.LocationName)*@
                LocationName
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DepartmentName)*@
                DepartmentName
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DistrictName)*@
                DistrictName
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RegionName)*@
                RegionName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictName.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionName.Comment)
                </td>
                <td>
                    <a class="btn btn-outline-success btn-rounded btn-sm my-0" asp-action="Edit" asp-route-id="@item.StationId"><i class="fas fa-edit"></i>UPDATE</a> |
                    <a class="btn btn-outline-info btn-rounded btn-sm my-0" asp-action="Details" asp-route-id="@item.StationId"><i class="fas fa-info-circle"></i>DETAILS</a> |
                    <a class="btn btn-outline-danger btn-rounded btn-sm my-0" asp-action="Delete" asp-route-id="@item.StationId"><i class="fas fa-trash-alt"></i>DELETE</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class=" bg-light btn btn-sm btn-outline-success @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="bg-light btn btn-sm btn-outline-success @nextDisabled">
    Next
</a>