@*@model IEnumerable<ESCOM_FLEET_SYSTEM.Models.District>*@
@model PaginatedList<ESCOM_FLEET_SYSTEM.Models.District>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@

@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>*@
<p>
    <a asp-action="Create" class="bg-transparent text-capitalize text-center text-success btn-outline-dark btn-sm my-0"><i class="fas fa-plus-circle"></i>ADD DISTRICT</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            District Name || <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class=" bg-transparent btn btn-sm btn-outline-success" /> |
            @*<a asp-action="Index" class="bg-warning btn btn-outline-primary sm">Back to Full List</a>*@
        </p>
    </div>
</form>
@*<table class="table">
    <thead>*@
<table class="table table-sm">
    <thead class="table-light">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.DistrictName)*@
                DistrictName
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Comment)*@
                Comment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a class="btn btn-outline-success btn-rounded btn-sm my-0" asp-action="Edit" asp-route-id="@item.DistrictId"><i class="fas fa-edit"></i> UPDATE</a> |
                    <a class="btn btn-outline-info btn-rounded btn-sm my-0" asp-action="Details" asp-route-id="@item.DistrictId"><i class="fas fa-info-circle"></i>VIEW</a> |
                    <a class="btn btn-outline-danger btn-rounded btn-sm my-0" asp-action="Delete" asp-route-id="@item.DistrictId"><i class="fas fa-trash-alt"></i>DELETE</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class=" bg-light btn btn-sm btn-outline-success @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="bg-light btn  btn-sm btn-outline-success @nextDisabled">
    Next
</a>

